    {% if site.footer_fixed %}

<footer class="fixed-bottom">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">  Impressum </a>.
    <br>
    <div class="container mt-0">
        <table>
            <tr>
                <td>
                    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
                </td>
                <td>
                    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">  Impressum </a>.
                </td>
                {%- if site.last_updated -%}
                <td>
                    Last updated: {{ "now" | date: '%B %d, %Y' }}.
                </td>
                {%- endif %}
            </tr>
        </table>
    </div>
</footer>

    {%- else -%}

    <footer class="sticky-bottom mt-5">
        <div class="container">
            &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }} 
            <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.            
            {%- if site.impressum_path -%}
            <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
            {%- endif -%}
            {%- if site.last_updated -%}
            Last updated: {{ "now" | date: '%B %d, %Y' }}.
            {%- endif %}
        </div>
    </footer>
    {%- endif %}